body {
    font-family: Arial;
    background: #eef2f3;
    text-align: center;
}

.container {
    background: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.chat-box {
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
}
